<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-success is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{g.user.username}}'s Profile
          </h1>
          <h2 class="subtitle">
            You are user number #{{g.user.id}}
          </h2>
        
        <a href="https://twitter.com"><img src="https://970-cs-489472456659-default.cs-us-east1-omte.cloudshell.dev/files/download/?id=acce3ad9-9a15-4625-ab45-90368bbb64aa" width="1150" height="700" border="0"></a>
        <center><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></center>

        
        </div>
      </div>
    </section>
  </body>
</html>
